            body {
                background-color: black;
                color: white;
            }
            
            .jumbotron {
                color: white;
                background-color: black;
                font-family: 'Permanent Marker', cursive;
                font-size: 50pt;
                height: 100px;
            }
            
            label {
                margin: 10px;
            }
            
            #form {
                color: black;
            }
            
            #car-input {
                margin: 20px;
            }